# Notes
notes.txt

# Maven
target/
dependency-reduced-pom.xml
release.properties
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.tag

# IDE
.idea/
*.iml
.project
.classpath
.settings/
.vscode/

# OS
.DS_Store
Thumbs.db
